main {
  background-color: whitesmoke;
}
ul {
  margin-left: 100px;
}
#hobby {
  margin-left: -30px;
}
@media screen and (max-width: 750px) {
  .info {
    padding-top: 100px;
  }
  #hobby{
  margin: 0 auto;
  }
}

.sos {
  width: 30px;
}
.test {
  position: center;
  z-index: 2;
}
.card {
  width: 50%;
}

}
