@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url(https://coolors.co/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8);

:root {
--black: #0d1821ff;
--indigo: #344966ff;
--powderblue: #b4cdedff;
--babypowder: #f0f4efff;
--sage: #bfcc94ff;
--viridian: #6b9080ff;
--cambridge-blue: #a4c3b2ff;
--mint-green: #cce3deff;
--azure-web: #eaf4f4ff;
--mint-cream: #f6fff8ff;
}

body{
  background-color: var(--babypowder);
}
.catimage {
  width: 100%
  
}
.card {
  width: 28%;
  background-color: var(--cambridge-blue);
  color: var(--babypowder);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 15px;
  min-width: 280px;
}

header {
    /* position: fixed; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--viridian);
    font-weight: 300;
    padding: 15px;
    justify-content: center;
}

header h1 {
    padding-right: 40px;
    border-right: 1px solid black;
}

header ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: 40px;
}

header li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

header li {
    align-self: center;
    text-decoration: none;
}

header li :hover {
    text-decoration: underline;
    color: #64829b;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
  text-decoration-color: var(--indigo);
}
h4 {
  text-align: center;
}
.center {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
}
.topSpace {
  padding-top: 25px;
}
footer a {
  color: white;
}

footer div {
  margin: 20px;
}
footer {
  background-color: var(--viridian);
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 15px;
}