@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
:root {
--black: #0d1821ff;
--indigo: #344966ff;
--powderblue: #b4cdedff;
--babypowder: #f0f4efff;
--sage: #bfcc94ff;
}

body{
  background-color: var(--babypowder);
}

header {
    position: fixed;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--sage);
    font-weight: 300;
    padding: 15px;
    justify-content: center;
}

header h1 {
    padding-right: 40px;
    border-right: 1px solid gray;
}

header ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: 40px;
}

header li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

header li {
    align-self: center;
    text-decoration: none;
}

header li :hover {
    text-decoration: underline;
    color: #64829b;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
  text-decoration-color: var(--indigo);
}
h4 {
  text-align: center;
}
.center {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
}
.topSpace {
  padding-top: 150px;
}